@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body 
{
    margin: 0;
    padding: 0;
    background-color: deepskyblue;
}
h1
{   
    margin: 0;
    padding: 10px;
}
.focim 
{
    letter-spacing: 15px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
    margin: 0;
    padding-bottom: 20px;
}
#kep 
{
    text-align: center;
}
.kozepre 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    height: auto;
    padding-top: 80px;
}
.kiskep
{   
    border: 1px solid rgb(8, 146, 231);
    padding: 10px;
    width: 250px;
}
.bal
{   
    float: left;
}
.jobb
{
    float: right;
}

#szoveg1 
{
    text-align: center;
    width: 1000px;
    margin: auto;
}

#szoveg2 
{ 
    width: 1000px;
    margin: auto;
    padding: 20px;
}

.lab
{
    color: white;
    background-color: black;
    margin: auto;
    text-align: center;
    margin-top: 87px;
}

ul li
{
    margin: 5px;
}
a
{   
    text-decoration: none;
}
