@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header {
    text-align: justify;
    background-color: black;
    padding-bottom: 50px;
    color: white;
    font-family: 'Bebas Neue';
}